*.pyc
__pycache__/
*.pyo
*.pyd
*.pdb

env/
venv/
ENV/
.venv/
.ENV/

*.env
.env.*

*.sqlite3

*/migrations/
*/migrations/*.pyc

staticfiles/
static/

media/

local_settings.py

htmlcov/


.DS_Store


*.log


.vscode/


.idea/


node_modules/


*.tmp
*.temp
